
<div class="container">
	<%if @galeria%>
		<%if @visible==true%>	
			<div class="container">
				<h2><%=@galeria[1]%></h2><p><a href="/galeria/presentacion/<%=@id%>">Ver presentación</a></p>
				<p><%=@galeria[2]%></p>
				<%for foto in @galeria[0]%>
					<a href="foto/<%=foto.id%>"><%= image_tag foto.image.url(:large), :alt => foto.descripcion, :class => 'img-galeria'%></a>
				<%end%>
			</div>
			<br />
		<%end%>	
	<%end%>

	<div class="pagination-centered">
		<%= will_paginate @galeria[0], :renderer => BootstrapPagination::Rails %>
	</div>

</div>
