
<div class="container">
	<%for galeria in @galerias%>
		<div class="container">
			<h2><%=galeria[1]%></h2><p><%= link_to "Ver galeria", galeria[3]%></p>
			<%for foto in galeria[0]%>
				<%= image_tag foto.image.url(:med), :alt => foto.descripcion, :class => 'img-galeria'%>
			<%end%>
			<p><%=galeria[2]%></p>
		</div>
		<br />
	<%end%>

	<div class="pagination-centered">
		<%= will_paginate @galerias, :renderer => BootstrapPagination::Rails %>
	</div>

</div>



